<footer class="bigfoot container">

  <div class="blockset">
    <div class="block">
      {{> organisms-signup }}
    </div>
    <div class="block">
      {{> atoms-logo:logo }}
    </div>
    <div class="block">
      {{> atoms-fine-print }}
      <br/>
      {{> atoms-btn:twitter(buttonText: "Twitter") }}
      {{> atoms-btn:facebook(buttonText: "Facebook") }}
      {{> atoms-btn(buttonText: "Email") }}
    </div>
  </div>

</footer>
