
<!--DO NOT REMOVE-->
{{{ patternLabFoot }}}

<script>
  WebFontConfig = {
    custom: {
      families: ['butlerregular', 'butlerextrabold', 'butlerultralight']
    }
  };
</script>

<link rel="stylesheet" href="../../css/fonts.css?{{ cacheBuster }}" media="all" />

</body>
</html>
