<nav id="nav" class="nav">
	<ul>
		<li><a href="{{link.pages-homepage}}" class="nav--link">Home</a></li>
		<li><a href="#" class="nav--link">About</a></li>
		<li><a href="#bigFootContact" class="nav--link">Contact</a></li>
	</ul>
	<div class="nav--secondary">
		{{> atoms-edition }} | <a href="#">Past Issues</a>
	</div>
</nav>
