<ul class="sg-colors" id="colors">
	<li>
		<span class="sg-swatch" style="background: #636872;"></span>
		<span class="sg-label">#636872</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C09923;"></span>
		<span class="sg-label">#C09923</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D16624;"></span>
		<span class="sg-label">#D16624</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F4F2F0;"></span>
		<span class="sg-label">#F4F2F0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0B0F0C;"></span>
		<span class="sg-label">#0B0F0C</span>
	</li>
</ul>
