<div style="clear: both; font-family: butlerregular">
  <div style="float: left; font-size: 12vw;">Butler</div>
  <div style="float: right; font-size: 5vw;">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z <br />
    a b c d e f g h i j k l m n o p q r s t u v w x y z <br />
    1 2 3 4 5 6 7 8 9 0 Ll1 &amp; ? ! &mdash;
  </div>
  <pre style="clear: both;font-size: 16px;"><code>"butlerregular", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</code></pre>
</div>

<div style="clear: both" class="font-bold">
  <div style="float: left; font-size: 12vw;">Butler Extra Bold</div>
  <div style="float: right; font-size: 5vw;">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z <br />
    a b c d e f g h i j k l m n o p q r s t u v w x y z <br />
    1 2 3 4 5 6 7 8 9 0 Ll1 &amp; ? ! &mdash;
  </div>
  <pre style="clear: both;font-size: 16px;"><code>"butlerextrabold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</code></pre>
</div>

<div style="clear: both" class="font-light">
  <div style="float: left; font-size: 12vw;">Butler Ultra Light</div>
  <div style="float: right; font-size: 5vw;">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z <br />
    a b c d e f g h i j k l m n o p q r s t u v w x y z <br />
    1 2 3 4 5 6 7 8 9 0 Ll1 &amp; ? ! &mdash;
  </div>
  <pre style="clear: both;font-size: 16px;"><code>"butlerultralight", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</code></pre>
</div>
