<form class="form form__signup" id="bigFootContact">

  <h4>Receive future issues of <em>{{siteTitle}}</em> direct.</h4>

  <label>
    Your Name
    <input type="text" placeholder="Dorian Gray"/>
  </label>

  <label>
    Mail Address
    <input type="text" placeholder="No. 16, Tite Street"/>
  </label>

  {{> atoms-btn }}

</form>
