{{#hero}}
<div class="block block__hero {{styleModifier}}">
  <div class="block--title">
    <span class="block--title--intro">{{intro}}</span>
    <span class="block--title--preposition">{{preposition}}</span>
    <span class="block--title--name">{{{name}}}</span>
    <span class="block--detail">{{detail}}</span>
    <button class="block--call">{{{callText}}}</button>
  </div>
</div>
{{/hero}}
